*{
    padding: 0;
    margin: 0;
}

.container {
    width: 440px;
    height: 444px;
    border: 2px solid black;
    margin: 20px auto;
}

.box {
    width: 138px;
    height: 140px;
    border: 2px solid black;
    background: rgba(14, 150, 140, 0.8);
    font-size: 40px;
    float: left;
    margin: 2px;
    line-height: 140px;
    justify-content: center;
}

.first-row,
.second-row,
.third-row {
    display: inline-flex;
}

.O {
    background: #cff;
}

.X {
    background: #fff;
}

.logo {
    margin: 50px auto;
    margin-left: 200px;
}

section {
    border: 2px solid black;
    margin: 50px;
    width: 300px;
}

.key {
    margin-left: 34px;
    width: 200px;
}
